<footer class="py-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2020 Example Application</p>
    <p class="mb-1">It is a skeleton architecture to bootstrap a maintainable and reusable/extendable
        Angular project!</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a [routerLink]="['/']">About</a></li>
        <li class="list-inline-item"><a [routerLink]="['/account/new-account']">New Accout</a></li>
        <li class="list-inline-item"><a [routerLink]="['/']">Help</a></li>
    </ul>
</footer>