/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* custom styles */
.content-container {
    width: 100%;
    max-width: 680px;
    padding: 15px;
    margin: auto;

    .new-account-box {
        text-align: center;
    }
}